@import url(http://fonts.googleopis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleopis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleopis.com/earlyaccess/notosanskr.css);
* {
	font-family: 'Nanum Gothic';
}
thead th{
	background-color: #006DCC;
	color: white;
	text-align: center;
}
tr td:first-child,
tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
h5{
	font-family: 'Noto Sans KR';
	font-size: 15px;
}
h4{
	font-family: 'Noto Sans KR';
}
h3{
	font-family: 'Hanna';
}
h2{
	font-family: 'Hanna';
}
h1{
	font-family: 'Hanna';
}
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events:none;
}
.vertical-align-center{
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}
.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: none;
}
